@model siteNuvemCriativa90.Models.Empresa

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/cad.own.view.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div>
        <h4>Detalhes - Empresas</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Login)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Login)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Senha)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Senha)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CNPJ)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CNPJ)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RazaoSocial)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NomeFantasia)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NomeFantasia)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telefone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Necessidade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Necessidade)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ramo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ramo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataCadastro)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataCadastro)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Endereco)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Endereco.Logradouro)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GrupoUsuario)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GrupoUsuario.TipoUsuario)
            </dd>
        </dl>
        <div class="form-group">
            <a asp-action="Index"><input type="submit" value="Voltar" class="btn btn-secondary" /></a>
        </div>
    </div>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/slider.js"></script>
</body>
</html>